name: Build Tests
on:
  workflow_call:
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        dist-type: [ "sdist", "wheel" ]
        package-extra: [ "", "all", 'cli', 'git', 'requests' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Verify Build
        uses: durandtibo/verify-uv-build-action@v0.0.3
        with:
          package-name: feu
          package-extra: ${{ matrix.package-extra }}
          dist-type: ${{ matrix.dist-type }}
