name: Test - Dependencies
on:
  workflow_call:
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  get-versions:
    uses: ./.github/workflows/get-versions.yaml

  packaging:
    needs: get-versions
    uses: ./.github/workflows/test-code-dep.yaml
    with:
      package-name: packaging
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).packaging) }}

  typing-extensions:
    needs: get-versions
    uses: ./.github/workflows/test-code-dep.yaml
    with:
      package-name: typing-extensions
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).typing-extensions) }}


  #################################
  #     Optional dependencies     #
  #################################

  click:
    needs: get-versions
    uses: ./.github/workflows/test-code-dep.yaml
    with:
      package-name: click
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).click) }}

  gitpython:
    needs: get-versions
    uses: ./.github/workflows/test-code-dep.yaml
    with:
      package-name: gitpython
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).gitpython) }}

  requests:
    needs: get-versions
    uses: ./.github/workflows/test-code-dep.yaml
    with:
      package-name: requests
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).requests) }}

  urllib3:
    needs: get-versions
    uses: ./.github/workflows/test-code-dep.yaml
    with:
      package-name: urllib3
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).urllib3) }}
